@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

::-webkit-scrollbar {
    width: 5px; /* Adjust this value to make it thinner or wider */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    background: blue;;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(0, 174, 255);
  }